.auth-bg {
  height: 100vh;
  background: linear-gradient(135deg, #e9f0ff, #4a4fd9);
  display: flex;
  position: relative;
}

.auth-logo {
  position: absolute;
  top: 20px;
  left: 30px;
  height: 40px;
}

.auth-left {
  flex: 1;
  display: flex;
  align-items: center;
  padding-left: 80px;
}

.auth-left h1 {
  color: white;
  font-size: 42px;
}

.auth-left span {
  color: #caff3d;
}

.auth-right {
  width: 420px;
  background: transparent;
  padding: 120px 40px;
  color: white;
}

.auth-right input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 6px;
  border: none;
}

.auth-right button {
  width: 100%;
  padding: 12px;
  background: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}
